.row {
    text-align: center;
}
#welcome {
    margin: 80px;
}

#segment {
    width: 400px;
    margin-left: auto;
    margin-right: auto
}

#segment .input {
    height: 41px;
    font-size: 40px;

}