/* colors 

blue #264653
green #2A9D8F
yellow #E9C46A
orange #F4A261
red #E76F51
*/
.row {
    text-align: center;
}
#welcome {
    margin: 80px;
}

#segment {
    width: 400px;
    margin-left: auto;
    margin-right: auto
}

#segment .input {
    height: 41px;
    width: 250px;
    font-size: 25px;
    margin-bottom: 15px;

}