/* colors 

blue #264653
green #2A9D8F
yellow #E9C46A
orange #F4A261
red #E76F51
*/
.ui.grid {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.description{
    /* width: 50%; */
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    color: #E9C46A;
    margin-top: 20px;
    margin-bottom: 20px;
}
.app-name{
    font-style: italic;
    color: #E76F51;
}

.sombrero{
    color: #E9C46A;
}
.welcome{
    color: #E76F51;
}
#segment {
    margin-left: auto;
    margin-right: auto;
}
.register-link{
    color: white;
    font-size: 16px;
}
.home{
    padding: 20px;
}
.ui.raised.segment.login{
    background-color: #2A9D8F;
}

.ui.image.sombrero{
    background-color: #2A9D8F;
    border-radius: 50%;
    padding: 5px;

}
.row{
    text-align: center;
}