
.sombrero{
    color: #E9C46A;
}
.welcome{
    color: #E76F51;
}
.register{
    color: #E76F51;
}
.app-name{
    font-style: italic;
    color: #E76F51;
}
.login-link{
    color: white;
    font-size: 16px;
}