/* colors 

blue #264653
green #2A9D8F
yellow #E9C46A
orange #F4A261
red #E76F51
*/
#overall-performance, #session-performance, #word-performance {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.word{
    background-color: #E9C46A;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding:10px;
    border-radius: 5px;
    text-align: center;
}
.session{
    background-color: #F4A261;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
.overall{
    background-color: #E76F51;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
.title{
    color:white;
}
.cell{
    background-color: white;
}